@import "../../../css/app.scss";

// .amenities-btns {
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     flex-wrap: wrap;

//     .amenities-btns__top,
//     .amenities-btns__bottom {
//         margin-bottom: 1rem;
//         width: 100%;
//         display: flex;
//         justify-content: center;
//     }
//     .btn {
//         @include button-not-selected;
//         margin-left: 0.9rem;
//         margin-right: 0.9rem;

//         &.active {
//             border: none;
//             outline: none;
//             padding: 0.3rem 0.5rem;
//             border-radius: 3px;
//             font-size: 1rem;
//             background-color: $bestcolor;
//             color: $whitecolor;
//             cursor: pointer;
//         }
//     }
// }

.amenities-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 450px) {
        .amenities-btns__top,
        .amenities-btns__bottom {
            flex-direction: column; // Stack buttons vertically
            align-items: center; // Center align buttons
            width:95%;
        }
    }
}

.amenities-btns__top,
.amenities-btns__bottom {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.btn {
    padding: 0.8rem 1.5rem;
    margin: 0.5rem;
    background-color: $bestcolor;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
        background-color: #54be90;
        color: $bestcolor;
    }

    &.active {
        background-color: #54be90;
        color: $bestcolor;
        
    }
}
