@import "../../../css/app.scss";

.conditions-btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    .btn {
        @include button-style;
    }
}
