@import "../../../css/app.scss";

// .dispositons-btns {
//     display: flex;
//     justify-content: space-between;
//     width: 100%;
//     margin-bottom: 1rem;
//     .btn {
//         @include button-not-selected;
//         &.active {
//             border: none;
//             outline: none;
//             padding: 0.3rem 0.5rem;
//             border-radius: 3px;
//             font-size: 1rem;
//             background-color: $bestcolor;
//             color: $whitecolor;
//             cursor: pointer;
//         }
//     }
// }

.dispositions-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    // Media query for smaller screens (e.g., phones with a width of 360px)
    @media (max-width: 450px) {
        flex-direction: column; // Stack buttons vertically
        align-items: stretch; // Stretch buttons to fill the width
        width:80%;
    }
}

.btn {
    padding: 1rem 1.5rem;
    margin: 1rem;
    background-color: $bestcolor;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    font-size: 1.2rem;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
        background-color: #54be90;
        color: $bestcolor;
    }

    &.active {
        background-color: #54be90;
        color: $bestcolor;
    }

    // Media query for smaller screens (e.g., phones with a width of 360px)
    @media (max-width: 450px) {
        width: 100%; // Make buttons fill the width
    }
}
