@import "../../../css/app.scss";

.listings_date-datepicker {
    display: flex;
    align-items: baseline;
    color: $bestcolor;
    margin-bottom: 1rem;
    h3 {
        margin-right: 2rem;
    }
    .react-datepicker-wrapper {
        .react-datepicker__input-container {
            input {
                width: 7rem;
                text-align: center;
                padding: 0.4rem;
            }
        }
    }
}
