@import "../../../css/app.scss";

// .pets-welcome {
//     margin-bottom: 1rem;
//     .btn {
//         @include button-not-selected;
//         &.active {
//             border: none;
//             outline: none;
//             padding: 0.3rem 0.5rem;
//             border-radius: 3px;
//             font-size: 1rem;
//             background-color: $bestcolor;
//             color: $whitecolor;
//             cursor: pointer;
//         }
//     }
// }

.pets-welcome {
    display: flex;
    justify-content: center;
    align-items: center;

    .btn {
        padding: 0.8rem 1.5rem;
        margin: 0.5rem;
        background-color: $bestcolor;
        color: #ffffff;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        outline: none;
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover {
            background-color: #54be90;
            color: #232323;
        }

        &.active {
            background-color: #54be90;
            color: #232323;
        }
    }
}
