@import "../../../css/app.scss";

.pets-welcome {
    margin-bottom: 1rem;
    .btn {
        @include button-not-selected;
        &.active {
            border: none;
            outline: none;
            padding: 0.3rem 0.5rem;
            border-radius: 3px;
            font-size: 1rem;
            background-color: $bestcolor;
            color: $whitecolor;
            cursor: pointer;
        }
    }
}
