@import "../../../css/app.scss";

// .type-btns {
//     display: flex;
//     justify-content: space-between;
//     width: 50%;
//     margin-bottom: 1rem;

//     .btn {
//         @include button-not-selected;

//         &.active {
//             border: none;
//             outline: none;
//             padding: 0.3rem 0.5rem;
//             border-radius: 3px;
//             font-size: 1rem;
//             background-color: $bestcolor;
//             color: $whitecolor;
//             cursor: pointer;
//         }
//     }
// }

.type-btns {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.btn {
    padding: 1rem 1.5rem;
    background-color: $bestcolor;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
        background-color: #54be90;
        color: $bestcolor;
    }

    &.active {
        background-color: #54be90;
        color: $bestcolor;
    }
}
