@import "../../../css/app.scss";

.type-btns {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 1rem;

    .btn {
        @include button-not-selected;

        &.active {
            border: none;
            outline: none;
            padding: 0.3rem 0.5rem;
            border-radius: 3px;
            font-size: 1rem;
            background-color: $bestcolor;
            color: $whitecolor;
            cursor: pointer;
        }
    }
}
