@import "../../../css/app.scss";

// .edit-button {
//     @include button-not-selected;
//         margin-left: 0.9rem;
//         margin-right: 0.9rem;
//         position: absolute;
        
// }

.dynamic-div {
    display: none;
    z-index: 2;
    position: relative;

    & _active {
        display: block;
        position: relative;
        
        .closing-tab {
            @include button-not-selected;
            margin-left: 0.9rem;
            margin-right: 0.9rem;
            position: absolute;
            top: 50px;
            right: 50px;
        }
    }
}

.edit_container {
    position: relative;
    

    .closing-tab {
            @include button-not-selected;
            margin-left: 0.9rem;
            margin-right: 0.9rem;
            position: absolute;
            top: 50px;
            right: 100px;
        }
}

// .closing-tab {
//     @include button-not-selected;
//     margin-left: 0.9rem;
//     margin-right: 0.9rem;
//     position: absolute;
//     top: 50px;
//     right: 50px;
// }