@import "../../../css/app.scss";

.mini-view {
    width: 18.5vw;
    height: 35vh;
    border: 1px solid $bestcolor;
    margin: 0.5vh;

    .slider-container {
        width: 17vw;
        height: 24vh;
        margin: 0 auto;
    }

    .mini-view_details {
        width: 17vw;
        height: 10vh;
        cursor: pointer;

        h4,
        p {
            margin: 0;
        }
    }
}
