@import "../../../css/app.scss";

.sorting-container {
    display: flex;
    align-items: center;
  
    .sort-mini-title {
      margin-right: 10px;
      font-size: 1.2rem;
      color: $bestcolor;
      font-weight: 700;
    }
  
    .sorting-select {
      padding: 2px;
      font-size: 14px;
      border: 1px solid #ccc; 
      border-radius: 4px;
      cursor: pointer;
      outline: none;
  
      &:hover {
        border-color: #999; 
      }
  
      &:focus {
        border-color: #333; 
      }
  
      option {
        font-size: 14px;
      }
    }
  }