.chat-container {
  display: flex;
  flex-direction: column;
  max-width: 600px; // Adjust as needed
  margin: 0 auto;
}

// Styles for the chat message container
.chat-message {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;

  // User link styles
  .user-link {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: flex-end;

    // User input styles
    .user-input {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 70%;
      box-sizing: border-box;
    }
  }

  // Message box styles
  .message-box {
    overflow-y: auto;
    max-height: 300px; // Adjust as needed
    padding: 10px;

    // Message details styles
    .message-details, .message-details_from {
      margin-bottom: 10px;

      // Message header styles
      .message-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;

        // Message sender styles
        .message-sender {
          font-weight: bold;
        }

        // Message time styles
        .message-time {
          color: #777;
          font-size: 12px;
        }
      }

      // Message content styles
      .message-content {
        padding: 8px;
        border-radius: 4px;

        // User and admin message styles
        &.user-message {
          background-color: #dff9fb; // Light blue for user messages
        }

        &.admin-message {
          background-color: #e8e8e8; // Light gray for admin messages
        }
      }
    }
  }
}

// Form styles
form {
  display: flex;
  justify-content: space-between;

  // Input styles
  .form_control {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    box-sizing: border-box;
  }
}