$bestcolor: #3b2550;
$bestcolorLighter: #573775;
$whitecolor: #ffffff;
$lightgraycolor: #eeeeee;
$darkgraycolor: #6f6f6f;
$orangecolorbtn: rgb(211, 146, 26);
$orangecolorbtnLighter: rgb(201, 159, 81);
$main-font: "Lato", sans-serif;

@mixin button-style {
    outline: none;
    border: 1px solid $bestcolor;
    padding: 0.3rem 0.5rem;
    border-radius: 3px;
    background-color: $bestcolor;
    color: $whitecolor;
    font-size: 1rem;
    cursor: pointer;
}

@mixin button-not-selected {
    border: none;
    outline: 1px solid $bestcolor;
    padding: 0.3rem 0.5rem;
    border-radius: 3px;
    background-color: $lightgraycolor;
    color: $bestcolor;
    font-size: 1rem;
    cursor: pointer;
    &:hover {
        background-color: $bestcolorLighter;
        color: $whitecolor;
    }
}

body {
    // background-color: darkslategray;
    background: linear-gradient(to right, #f6d7b0,#e1bf92);
}
