$bestcolor: #8a2be2;
$whitecolor: #ffffff;
$lightgraycolor: #eeeeee;
$main-font: "Lato", sans-serif;

@mixin button-style {
    border: none;
    outline: none;
    padding: 0.3rem 0.5rem;
    border-radius: 3px;
    font-size: 1rem;
    background-color: $bestcolor;
    color: $whitecolor;
    cursor: pointer;
}

@mixin button-not-selected {
    border: 1px solid $bestcolor;
    background-color: $lightgraycolor;
    color: $bestcolor;
}
