@import "../../css/app.scss";

.results-page {
    display: flex;
    flex-direction: column;
    position: relative;

    .results-edit {
        margin: 0 auto;
        z-index: 3;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .over-view {
        display: flex;
        margin-top: 3vh;

        .map {
            height: 85vh;
            width: 60vw;
            border: 1px solid black;

            .map_image {
                //to be replaced
                max-width: 100%;
                max-height: 100%;
            }
        }

        .results-list {
            display: flex;
            flex-direction: column;
            width: 40vw;

            .results-list_header {
                display: flex;
                justify-content: space-between;
                margin: 0 1vh;

                h2 {
                    color: $bestcolor;
                    margin: 0;
                }

                .edit-button {
                    @include button-not-selected;
                    margin-left: 0.9rem;
                    margin-right: 0.9rem;
                    height: 80%;
                }

                .results-list_data-manipulation {
                    display: flex;
                    flex-direction: column;

                    span {
                        color: $bestcolor;
                    }

                    .results-list_sorting {
                        color: $bestcolor;
                        position: relative;
                    }
                }
            }

            .results-list_listings {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                width: 40vw;
                height: 90vh;
                overflow-x: hidden;
                overflow-y: auto;

                .no-results {
                    margin-top: 30%;
                    color: $bestcolor;
                }
                /* Loader styles */
                .loader {
                    width: fit-content;
                    height: 2rem;
                    margin-top: 30%;
                    font-weight: bold;
                    font-family: monospace;
                    font-size: 30px;
                    background: linear-gradient(
                            90deg,
                            $bestcolor 50%,
                            $bestcolor 0
                        )
                        right/200% 100%;
                    animation: l21 2s infinite linear;
                }
                .loader::before {
                    content: "Loading...";
                    color: #0000;
                    padding: 0 5px;
                    background: inherit;
                    background-image: linear-gradient(90deg, #fff 50%, #000 0);
                    -webkit-background-clip: text;
                    background-clip: text;
                }

                @keyframes l21 {
                    100% {
                        background-position: left;
                    }
                }
            }
        }
    }
}
