@import "../../css/app.scss";

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    // border: 2px solid $bestcolor;
    border-radius: 8px;
    padding: 3rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    background-color: #433e72;
    .search-container__title {
        font-size: 250%;
        font-weight: 100;
    }
    .search-container_filters {
        display: flex;
        flex-direction: column;
        align-items: center;
        .more_options {
            display: none;
            
            &.active {
                display: block;
            }
        }
        .more_options_btn {
            background-color: #54be90;
            color: #ffffff;
            padding: 0.8rem;
            margin: 1rem;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            outline: none;
            font-size: 1rem;
            transition: background-color 0.3s ease, color 0.3s ease;
        
            &:hover {
                background-color: #439070;
            }
        }
        .search-form__btn {
            padding: 0.4rem;
            width: 7rem;
            background-color: $orangecolorbtn;
            outline: none;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            color: $whitecolor;
            text-align: center;
            text-decoration: none;
            font-size: 1.6rem;
            &:hover {
                background-color: $orangecolorbtnLighter;
            }
        }
        h2 {
            color: $bestcolor;
            font-family: $main-font;
        }
    }
}
