@import "../../css/app.scss";

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 60%;
    border: 2px solid $bestcolor;
    border-radius: 3px;
    padding: 3rem;
    background-color: $whitecolor;
    .search-container__title {
        font-size: 250%;
    }
    .search-container_filters {
        display: flex;
        flex-direction: column;
        align-items: center;
        .search-form__btn {
            padding: 0.4rem;
            width: 7rem;
            background-color: $orangecolorbtn;
            outline: none;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            color: $whitecolor;
            text-align: center;
            text-decoration: none;
            font-size: 1.2rem;
            &:hover {
                background-color: $orangecolorbtnLighter;
            }
        }
        h2 {
            color: $bestcolor;
            font-family: $main-font;
        }
    }
}
