@import "../../css/app.scss";

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 38rem;
    margin: 0 auto;
    width: 90%;
    margin-top: 40px;
    // border: 2px solid $bestcolor;
    border-radius: 8px;
    padding: 3rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    background-color: #433e72;
    overflow: auto;

    .search-container__title {
        font-size: 250%;
    }
    .search-container_filters {
        display: flex;
        flex-direction: column;
        align-items: center;
        .more_options {
            display: none;
            
            &.active {
                display: block;
            }
        }
        .more_options_btn {
            background-color: #54be90;
            color: #ffffff;
            padding: 0.8rem;
            margin: 1rem;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            outline: none;
            font-size: 1rem;
            transition: background-color 0.3s ease, color 0.3s ease;
        
            &:hover {
                background-color: #439070;
            }
        }
        .search-form__btn {
            padding: 0.4rem;
            width: 7rem;
            background-color: $orangecolorbtn;
            outline: none;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            color: $whitecolor;
            text-align: center;
            text-decoration: none;
            font-size: 1.6rem;
            &:hover {
                background-color: $orangecolorbtnLighter;
            }
        }
        h2 {
            color: $bestcolor;
            font-family: $main-font;
        }
    }

    @media only screen and (max-width: 360px) {
        height: auto;
        padding: 1rem;
        .search-container__title {
            font-size: 100%; // Adjust title font size for smaller screens
        }
        .search-container_filters {
            flex-direction: column;
            font-size: 70%;
            .more_options {
                display: block;
            }
            .more_options_btn {
                margin: 0;
            }
            .search-form__btn {
                width: 100%;
            }
        }
    }

    @media only screen and (min-width: 361px) and (max-width: 768px) {
        height: auto;
        padding: 1rem;
        .search-container__title {
            font-size: 150%;
        }
        .search-container_filters {
            flex-direction: column;
            .more_options {
                display: block;
            }
            .more_options_btn {
                margin: 0;
            }
            .search-form__btn {
                width: 100%;
            }
        }
    }

    @media only screen and (min-width: 769px) and (max-width: 1200px) {
        height: auto;
        padding: 1.5rem;
        .search-container__title {
            font-size: 180%;
        }
        .search-container_filters {
            flex-direction: column;
            .more_options {
                display: block;
            }
            .more_options_btn {
                margin: 0;
            }
            .search-form__btn {
                width: 100%;
            }
        }
    }
}
